<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE catalog 
      PUBLIC "-//OASIS//DTD XML Catalogs V1.1//EN" 
      "http://www.oasis-open.org/committees/entity/release/1.1/catalog.dtd">
      
<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog">
    
    <public publicId="-//Springer-Verlag//DTD A++ V2.4//EN" uri="../Schemas/SpringerBook.dtd"/>
    <public publicId="-//Springer-Verlag//DTD A++2.4//EN" uri="../Schemas/SpringerBook.dtd"/>
        
</catalog>
